.match{
  background-image: url(./assets/matches.png);
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  background-position-y: -49vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.issue{
 font-size: 16px;
 font-weight: 700;
}

.cata{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 68px;
  font-weight: 900;
}

.agaent{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.splBtn{
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: dotted gray;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.splBtn2{
  background-color: black;
  color: white;
  height: 40px;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.splBtn2:hover{
  background-color: #ffb618;
}

.down{
  margin-top: 30vh;
}

/* ------------------------------------------
App */

.App{

  background-image: url();
}

.App-header{
  background-color: white;
  width: 100vw;
  height: 12vh;
}

.Nav{
  width: 96vw;
  height: 12vh;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  z-index: 1;
}

.logo{
  width: 219px;
  height: 60px;
  padding-right: 8vw;
}

.logoI{
  width: 188px;
  height: 60px;
  object-fit: cover;
  object-position: 0% 0px;
}

.links{
  width: 50vw;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #ffb618;
}

.news{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 12px;
}

.news:hover{
  color: #ffb618;
}

.subBtn{
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 12px;
  height: 35px;
}

.subBtn:hover{
  background-color: #ffb618;
}

/* -------------------------------------------------
Landing */

.landBack{
  height: 40vh;
  width: 100vw;
  background-image: url(./assets/clover_card.jpg);
  background-color: darkgray;
  background-blend-mode: multiply;
  background-size: 100%;
  background-position-y: -49vh;
  background-position-x: -0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotlight{
  font-size: 14px;
  font-weight: 700;
  color: white;

}

.title{
  font-size: 64px;
  font-weight: 225;
  color: #ffb618;
}

.readBtn{
  color: black;
  font-size: 12px;
  font-weight: 700;
  height: 35px;
  background-color: white;
  border: 2px solid black;
}

.readBtn:hover{
  color: #ffb618;
  border: 2px solid #ffb618;
}

/* ----------------------------------------------
Content */

.content{
  z-index: -auto;
  height: 150vh;
  width: 100vw;
}